@use "../../variables" as *;
.card {
  border: 0px;
  .card-title {
    .vector {
      position: absolute;
      border-top: 50px solid $white;
      border-left: 50px solid $white;
      border-bottom: 50px solid transparent;
      border-right: 50px solid transparent;
      font-family: $fontfamily-gothic;
      font-size: $fontsize-l;
      line-height: 29px;
      color: $orange_bistre;
      align-items: center;
    }
    background: $white;
  }
  position: relative;
  background-size: cover;
  background-image: url("../card/image 1.png");
  height: 382.41px;
}
.card-text {
  padding: 32px, 32px, 107px;
  background: $white_smoke;
}
