<header class="header">
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#"><img src="../../../img/logo.png" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="../../../img/humberger-bar.svg" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <div class="concept-button">
            <a class="nav-link" href="#">CONCEPT</a>
            <button
              class="navbar-toggler humberger-bar"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#header-menu-id-dropdown"
              aria-controls="#header-menu-id-dropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img src="../../../img/Property 1=plus.svg" />
            </button>
          </div>

          <ul class="dropdown-menu" id="header-menu-id-dropdown">
            <a class="dropdown-item" href="#">ブログアーカイブ</a>
            <a class="dropdown-item" href="#">お知らせアーカイブ</a>
            <a class="dropdown-item" href="#">イベントアーカイブ</a>
            <a class="dropdown-item" href="#">インタビューアーカイブ</a>
            <a class="dropdown-item" href="#">FAQぺージ</a>
            <a class="dropdown-item" href="#">固定ページ</a>
            <a class="dropdown-item" href="#">CONSEPT</a>
            <a class="dropdown-item" href="#">SERVICE</a>
            <a class="dropdown-item" href="#">FLOOR</a>
            <a class="dropdown-item" href="#">ACCESS</a>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BROG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
