<div class="news-and-events-title">
  <h2 class="title">
    News
    <span class="notice"> お知らせ </span>
  </h2>
</div>

<ul class="news-lists">
  <a href="#" class="news-list-link">
    <li class="news-list">
      <p class="news-date">2018.06.20</p>
      <p class="news-detail">
        ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
      </p>
    </li>
  </a>
  <a href="#" class="news-list-link">
    <li class="news-list">
      <p class="news-date">2018.06.18</p>
      <p class="news-detail">
        3種のレイアウトから選択できるテンプレートを固定ページに実装
      </p>
    </li>
  </a>
  <a href="#" class="news-list-link">
    <li class="news-list">
      <p class="news-date">2018.06.12</p>
      <p class="news-detail">
        利用者からのご質問をまとめた「FAQ」ページをアップしました。
      </p>
    </li>
  </a>
  <a href="#" class="news-list-link">
    <li class="news-list">
      <p class="news-date">2018.06.08</p>
      <p class="news-detail">
        デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
      </p>
    </li>
  </a>
  <a href="#" class="news-list-link">
    <li class="news-list">
      <p class="news-date">2018.06.02</p>
      <p class="news-detail">テーマのアップデート情報について</p>
    </li>
  </a>
</ul>
<div class="information-list">
  <a href="#" class="news-and-events-more">
    お知らせ一覧<i class="right"></i>
  </a>
</div>
