@use "../../variables" as *;

.text {
  text-align: center;

  .messagetext {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    line-height: 54px;
    padding-right: 44px;
    padding-left: 44px;
    margin-bottom: 10px;

    @media screen and(max-width: $breakpoint-lg) {
      padding-right: 107.5px;
      padding-left: 107.5px;
      font-size: $fontsize-l;
      line-height: 30px;
      margin-bottom: 6px;
    }
  }

  .messagedetail {
    line-height: 36px;
    padding-right: 145.5px;
    padding-left: 145.5px;
    font-family: $fontfamily-gothic;
    font-size: $fontsize-s;
    @media screen and(max-width: $breakpoint-lg) {
      line-height: 28px;
    }
  }
}
