@use "../../variables" as *;
.messagetext {
  width: 287px;
  height: 54px;
  font-family: $fontfamily-mincho;
  font-size: $fontsize-xl;
  line-height: 54px;
  display: flex;
  margin: auto;
  padding-bottom: 10px;

  @media screen and(max-width: $breakpoint-lg) {
    width: 160px;
    height: 30px;
    font-size: $fontsize-l;
    line-height: 30px;
    padding-bottom: 6px;
  }
}
.messagedetail {
  width: 84px;
  height: 36px;
  font-family: $fontfamily-mincho;
  font-size: $fontsize-s;
  line-height: 36px;
  display: flex;
  margin: auto;
  @media screen and(max-width: $breakpoint-lg) {
    width: 84px;
    height: 28px;
  }
}
