<div class="plans container">
  <div class="message">
    <h2 class="message-text">ライフスタイルに合わせて選べる多彩なプラン。</h2>
    <p class="message-detail">
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、
      多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。
      ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。
    </p>
  </div>
  <div class="plans-wrap">
    <ul class="plan">
      <li class="plan-title">デイタイムプラン</li>
      <li class="plan-box1">
        <div class="plan-price">
          <p class="plan-price-yen">5,000</p>
        </div>
        <p class="plan-price-month">月額</p>
      </li>

      <li class="plan-box2">入会金0円</li>
      <li class="plan-box2">平日：9時〜17時</li>
      <li class="plan-box2">土日祝：利用ナシ</li>
      <li class="plan-box2">コアタイムでの利用に最適なプラン</li>
    </ul>
    <ul class="plan">
      <li class="plan-title">スタンダードプラン</li>
      <li class="plan-box1">
        <div class="plan-price">
          <p class="plan-price-yen">15,000</p>
        </div>
        <p class="plan-price-month">月額</p>
      </li>

      <li class="plan-box2">入会金0円</li>
      <li class="plan-box2">平日：17時〜23時</li>
      <li class="plan-box2">土日祝：営業時間全て</li>
      <li class="plan-box2">営業時間内で終日ご利用可能なプラン</li>
    </ul>
    <ul class="plan">
      <li class="plan-title">プレミアムプラン</li>
      <li class="plan-box1">
        <div class="plan-price">
          <p class="plan-price-yen">20,000</p>
        </div>
        <p class="plan-price-month">月額</p>
      </li>

      <li class="plan-box2">入会5000円</li>
      <li class="plan-box2">平日：営業時間全て</li>
      <li class="plan-box2">土日祝：営業時間全て</li>
      <li class="plan-box2">フルに使いたい方のためのプレミアムなプラン</li>
    </ul>
  </div>

  <a class="button">プラン料金</a>
</div>
