<div class="news-and-events">
  <div class="container">
    <div class="news">
      <div class="news-and-events-title">
        <h2>News<span class="caption"> お知らせ</span></h2>
      </div>

      <ul class="news-contents">
        <li class="news-content">
          <a href="#" class="news-content-link">
            <p class="news-date">2018.06.20</p>
            <p class="news-detail">
              ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
            </p>
          </a>
        </li>
        <li class="news-content">
          <a href="#" class="news-content-link">
            <p class="news-date">2018.06.20</p>
            <p class="news-detail">
              3種のレイアウトから選択できるテンプレートを固定ページに実装
            </p>
          </a>
        </li>
        <li class="news-content">
          <a href="#" class="news-content-link">
            <p class="news-date">2018.06.12</p>
            <p class="news-detail">
              利用者からのご質問をまとめた「FAQ」ページをアップしました。
            </p>
          </a>
        </li>
        <li class="news-content">
          <a href="#" class="news-content-link">
            <p class="news-date">2018.06.08</p>
            <p class="news-detail">
              デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
            </p>
          </a>
        </li>
        <li class="news-content">
          <a href="#" class="news-content-link">
            <p class="news-date">2018.06.02</p>
            <p class="news-detail">テーマのアップデート情報について</p>
          </a>
        </li>
      </ul>
      <div class="information-list">
        <a href="#" class="news-and-events-more">
          お知らせ一覧<i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div class="events">
      <div class="news-and-events-title">
        <h2>Events<span class="caption">イベント</span></h2>
      </div>
      <div class="event-list">
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-1.jpg" />
            </div>
            <div class="event-caption">
              <h3>全ての業種に対応した起業応援セミナーを開催します。</h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-2.jpg" />
            </div>
            <div class="event-caption">
              <h3>第3回　Switchクリエイター交流会開催いたします！</h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
        <article class="event-card">
          <a href="#">
            <div class="event-thumbnail">
              <img src="../../../img/events-3.jpg" />
            </div>
            <div class="event-caption">
              <h3>
                Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
              </h3>
              <div class="posted-at">
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </div>
          </a>
        </article>
      </div>
      <a href="#" class="news-and-events-more"
        >イベント一覧<i class="fas fa-chevron-right"></i
      ></a>
    </div>
  </div>
</div>
