@use "../../variables" as *;
.cards {
  display: flex;
  .card {
    flex: 1;
    margin-bottom: 100px;
  }

  @media screen and (max-width: $breakpoint-md) {
    .cards {
      display: block;
      .card {
        margin-bottom: 40px;
      }
    }
  }
}
