@use "../../variables" as *;
.organisms-card {
  display: flex;
  .card {
    flex: 1;
    margin-left: 20px;
    margin-bottom: 100px;
  }
  .card:nth-child(3) {
    margin-right: 20px;
  }

  @media screen and (max-width: $breakpoint-md) {
    display: block;
    .card {
      margin-bottom: 40px;
    }
  }
}
